@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

body, html {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', serif;
	font-weight: 400;
	font-size: 1em;
	overflow: hidden;
	position: relative;
	color: $primary-font-color;
	display: flex;
	-webkit-font-smoothing: antialiased;
}

#app, .app-wrapper {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
}

.app-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
