@font-face {
	/*
	font-family: 'Bitter';
	src: url('/fonts/Bitter-Regular.ttf') format('truetype');
	*/

	font-family: 'OpenSans';
	src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

body, html {
	width: 100%;
	height: 100%;
	font-family: 'OpenSans', serif;
	font-weight: 400;
	font-size: 1em;
	overflow: hidden;
	position: relative;
	color: $primary-text-color;
	display: flex;
	-webkit-font-smoothing: antialiased;
	background-color: #000;
}

#app, .app-wrapper {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
}

.app-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
