#index__background___3cn9u {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center; }
#terminal__terminal___Z6NHZ {
  background: rgba(255, 255, 255, 0.95);
  padding: 15px;
  width: 100%; }

#terminal__terminal___Z6NHZ input {
  border: 0;
  width: 100%;
  height: 35px;
  font-size: 26px;
  color: #333;
  font-weight: bold;
  font-family: monospace, sans-serif;
  text-align: center; }

#terminal__terminal___Z6NHZ .terminal__logo___2XGNx {
  cursor: pointer; }
#agenda__calendar___16KsY {
  height: 100px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gainsboro; }

#agenda__calendar___16KsY .agenda__big-talk___2iq4n {
  color: #455A64;
  font-size: 16px; }

#agenda__calendar___16KsY .agenda__small-talk___32WYP {
  color: #8fa4af;
  font-size: 14px; }
#topSites__topSites___12VYf {
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gainsboro;
  padding: 0 20px; }
#index__console___sW6rP {
  position: absolute;
  font-size: 16px;
  width: 500px;
  text-align: center; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format("truetype"); }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

#index__app___1zMwu {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
