#index__background___3Mw5O {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center; }
/**
 * Colors
 */
/**
 * Font Sizes
 */
/**
 * Transitions
 */
._cards__card___1csmc {
  overflow: hidden;
  padding: 20px 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  display: flex;
  background: rgba(255, 255, 255, 0.95); }
  ._cards__card___1csmc:not(:last-of-type) {
    border-bottom: 1px solid #e6ebf0; }
.terminal__terminal___2ScJl { }

.terminal__terminal___2ScJl input {
  border: 0;
  width: 100%;
  height: 35px;
  font-size: 26px;
  color: #333;
  font-weight: bold;
  font-family: monospace, sans-serif;
  text-align: center; }

.terminal__terminal___2ScJl .terminal__logo___1N2H3 {
  cursor: pointer; }
.agenda__calendar___1HYep {
  justify-content: center;
  align-items: center;
  border-top: 1px solid gainsboro; }

#agenda__calendar___1HYep .agenda__big-talk___1-I2f {
  color: #455A64;
  font-size: 16px; }

#agenda__calendar___1HYep .agenda__small-talk___1SobA {
  color: #8fa4af;
  font-size: 14px; }
.topSites__topSites___2Z8_H {
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gainsboro;
  padding: 0 20px; }
#index__console___3Ostb {
  position: absolute;
  font-size: 16px;
  width: 460px;
  text-align: center; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format("truetype"); }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

#index__app___3y31D {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
