#topSites {
  height: 50px;
  width: 100%;
  background: rgba(255,255,255,0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(220, 220, 220);
  padding: 0 20px;
}