.card {
    overflow: hidden;
    padding: 20px 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;

    &:not(:last-of-type) {
    	border-bottom: 1px solid $border-color;
    }
}
