.tupiq__body--calendar {
	display: block;
	position: relative;
	text-align: center;

	p {
		margin: 0;
		line-height: 1.8;
	}

	.primary {
		color: $calendar-primary-font-color;
		font-size: $primary-font-size;
		widows: 2;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.event-name {
		background-color: #eceff1;
		padding: 2px 6px;
		-webkit-box-decoration-break: clone;
		color: $calendar-hightlight-font-color;
		cursor: pointer;
		border-radius: 2px;

		&:hover {
			background-color: $link-font-color;
			color: #fff;
		}
	}

	.secondary {
		color: $calendar-secondary-font-color;
		font-size: $secondary-font-size;
		margin-bottom: 0;
	}

	&__close-btn {
		opacity: 0;
		transition: $regular-transition-duration;
		position: absolute;
		top: 0;
		right: 4px;
		line-height: 1;
		color: $hint-disabled-font-color;
		cursor: pointer;

		&:after {
			display: inline-block;
			content: "\00d7";
			font-size: 22px;
		}

		&:hover {
			color: $secondary-font-color;
		}
	}

	&:hover .tupiq__body--calendar__close-btn {
		opacity: 1;
	}

	&__connect-prompt {
		display: inline-block;
		text-align: center;
		transition: $regular-transition-duration;
		color: $secondary-font-color;
		cursor: pointer;
		border-radius: 4px;

		&.connecting {
			cursor: default;
			border: none;
		}

		&:hover:not(.connecting) {
			color: $primary-font-color;
		}
	}
}
