.tupiq__body--calendar {
	display: block;
	position: relative;
	text-align: center;

	p {
		margin: 0;
		line-height: 1.8;
	}

	.primary {
		color: $primary-text-color;
		font-size: 15px;
		widows: 2;
		margin-top: 0;
	}

	.event-name {
		background-color: #eee;
		padding: 2px 6px;
		color: $secondary-text-color;
		cursor: pointer;

		&:hover {
			background-color: #f5f5f5;
		}
	}

	.secondary {
		color: $secondary-text-color;
		font-size: 14px;
		margin-bottom: 0;
	}

	&__close-btn {
		opacity: 0;
		transition: $regular-transition-duration;
		position: absolute;
		top: 0;
		right: 4px;
		line-height: 1;
		color: $hint-disabled-text-color;
		cursor: pointer;

		&:after {
			display: inline-block;
			content: "\00d7";
			font-size: 22px;
		}

		&:hover {
			color: $secondary-text-color;
		}
	}

	&:hover .tupiq__body--calendar__close-btn {
		opacity: 1;
	}

	&__connect-prompt {
		display: block;
		text-align: center;
		transition: $regular-transition-duration;
		color: $secondary-text-color;
		cursor: pointer;
		border-radius: 4px;

		&.connecting {
			cursor: default;
			border: none;
		}

		&:hover:not(.connecting) {
			color: $primary-text-color;
		}
	}
}
