.card.weather {
	height: 100%;
	width: 100%;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		height: 100%;
		width: 100%;

		li {
			flex-grow: 1;
			-webkit-flex-direction: column;
			text-align: center;
			border-right: 1px solid $border-color;

			span {
				display: block;
			}

			.day {
				font-size: 13px;
				color: $hint-disabled-text-color;
				margin-bottom: 4px;
			}

			.wi {
				font-size: 32px;
				line-height: normal;
				color: $secondary-text-color;
			}
		}

		li:last-child {
			border-right: none;
		}
	}
}
