.card.weather {
	height: 100%;
	// So there's no jumping around between loading message and content
	min-height: 72px;
	width: 100%;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.weather__message {
		color: $hint-disabled-font-color;
		font-size: 14px;
		margin: 0;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		height: 100%;
		width: 100%;

		li {
			display: flex;
			flex: 1;
			-webkit-flex-direction: row;
			text-align: center;
			border-right: 1px solid $border-color;
			align-items: center;
			justify-content: center;

			.day,
			.temp,
			.summary,
			.icon {
				display: block;
			}

			.day {
				font-size: 14px;
				color: $weather-primary-font-color;
				text-align: left;
				margin-bottom: 2px;
			}

			.wrap {
				display: flex;
				-webkit-flex-direction: column;
				justify-content: center;
				margin-left: 10px;
			}

			.temp {
				align-self: center;
				font-size: 12px;
				color: $weather-secondary-font-color;
				i {
					display: inline-block;
				}
			}

			.icon {
				font-size: 28px;
				line-height: normal;
				color: $weather-icon-font-color;
			}

			.summary {
				margin-top: 5px;
				font-size: 13px;
				color: $hint-disabled-font-color;
			}
		}

		li:last-child {
			border-right: none;
		}
	}
}
