.background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	transition: $regular-transition-duration;
	//-webkit-transform: translateZ(0);

	&.loading {
		opacity: .5;
	}
}
