.tupiq-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;

	.inner {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		position: relative;
	}
}

.tupiq {
  width: 380px;
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, .98);
  opacity: 1;

  &.hidden{
  	opacity: 0;
  }

  .welcome {
  	position: absolute;
  	left: -10px;
  	width: 400px;
  	background-color: $welcome-background-color;
  	height: 110px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;
  	padding: 0 20px;
  	box-sizing: border-box;
		-webkit-animation: bounce 5s infinite .5s;
		transition: top $extra-long-transition-duration;

  	h1 {
  		font-size: $big-font-size;
  		color: $welcome-primary-font-color;
  		margin-bottom: 6px;
  		margin-top: 0;
  	}

  	p {
  		color: $welcome-secondary-font-color;
  		margin-top: 0;
  		font-size: $secondary-font-size;
  		margin-bottom: 10px;
  		line-height: 1.6;
  	}

		a {
  		font-size: $small-font-size;
  		color: $welcome-skip-font-color;
  		text-decoration: none;
  		display: block;
  		text-align: right;
  		width: 100%;
  		position: relative;
  		padding-right: 10px;

  		&:hover {
  			text-decoration: underline;
  		}

  		&:after {
  			content: "\25B8";
  			right: 0;
  			top: -2px;
  			font-size: $secondary-font-size;
  			position: absolute;
  		}
  	}

		// Calendar stages
  	&.stage-0, &.stage-1 {
  		top: -30px;
  	}

  	// Background stages
  	&.stage-2, &.stage-3, &.stage-4, &.stage-5 {
  		top: -110px;
  	}

  	// Transition and final stages
  	&.stage-1, &.stage-3, &.stage-4 {
  		-webkit-animation: none;

  		a {
  			display: none;
  		}
  	}

  	// Fade out stage
  	&.stage-5 {
  		display: none;

  		/*
  		-webkit-animation: fade-out 2s;
  		-webkit-animation-fill-mode: forwards;
  		*/
  	}

		.arrow {
			display: block;
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin-left: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: rgba(40, 51, 56, 1) transparent transparent transparent;
		}
  }

  &.is-dragging {
  	-webkit-user-select: none;
  }

  &.is-minimised {
  	bottom: 10px;
  	right: 10px;
  	width: 70px;
  	position: absolute;
  	opacity: .85;
  }

  &__header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border-color;
    user-select: none;
    cursor: move;
    padding: 10px 0;
    flex-direction: column;
    position: relative;

    .shuffle-progress-indicator {
    	display: block;
    	height: 2px;
    	position: absolute;
    	bottom: -1px;
    	left: 0;
    	background-color: #2baaed;
    	transition: width $regular-transition-duration;
    }

	  .is-minimised & {
  		cursor: default;
  		height: 50px;

  		.shuffle-progress-indicator {
  			height: 5px;
  		}
  	}

    &__logo-container {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	flex-direction: column;
    	cursor: pointer;

	    &:after {
	    	font-size: $primary-font-size;
	    	color: $primary-font-color;
	    	opacity: 0;
	    	transition: $regular-transition-duration;
	    	content: "Shuffle Background";
	    	margin-bottom: -20px;

	    	.is-minimised & {
	    		display: none;
	    	}
	    }

	    img {
	      opacity: .87;
	      user-select: none;
	      transition: .05s;
	    }

    	&:not(.loading):not(.errored):hover {
      	img {
      		opacity: 0.06;

      		.is-minimised & {
	    			opacity: .26;
	    		}
      	}

      	&:after {
      		opacity: 1;
      		margin-top: -30px;
      		margin-bottom: 0;
      	}
      }

      &.errored {
      	cursor: default;

      	img {
      		opacity: 0.06;
      	}

      	&:after {
      		content: "Shuffle failed, try again soon";
      		opacity: 1;
      		margin-top: -30px;
      		margin-bottom: 0;
      	}
      }

      &.loading {
      	cursor: default;

      	img {
      		opacity: 0.26;
      	}

      	&:after {
      		opacity: 0;
      	}
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .is-minimised & {
    	display: none;
    }
  }

  &__footer {
    box-sizing: border-box;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $secondary-font-color;
    font-size: 14px;
    padding: 20px 10px;

    span {
      display: block;
      cursor: pointer;
      transition: $regular-transition-duration;
    }

    span:not(.loading):hover {
      color: $primary-font-color;
    }

    &__shuffle-background {
      &.loading {
        cursor: default;
      }
    }
  }
}
